* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}
main {
  width: 100%;
  height: 100%;
  margin: 30px auto;
  background-color: rgba(84, 140, 6, 0.5);
  padding: 10px;
}
#title {
  text-align: center;
  font-size: 3rem;
  padding-top: 50px;
}
div {
  border: none;
  margin: 40px auto;
  text-align: center;
}
figure {
  margin: 0 auto; 
  width: 90%;
  background-color: #ffffff;
  max-height: 600px;
  max-width: 700px;
  padding: 5px 0;
}
figcaption {
  margin: 0 auto;
  width: 80%;
}
#image {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  margin: 10px auto;
  display: block;
}
#tribute-info {
  text-size: 1.1rem;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
li {
  margin-bottom: 20px;
}
#saying {
  padding-left: 30px;
  margin-top: 50px;
}
#time-line {
  text-align: center;
  margin: 30px;
}
a {
  color: rgb(110, 132, 242);
}
a:visited {
  color: rgb(3, 32, 180);
}
a:hover, a:active {
  color: rgb(250, 22, 22);
}